/*Ryan Beck 2019*/
/*buttons*/
/*-----------------------------------------------------------------*/
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/*-----------------------------------------------------------------*/
/*this imports .ttf font as separate file*/
@font-face {
	font-family: 'Rustproof';
	src: url(fonts/rustproofbody.ttf);
	font-family: 'zekton';
  	src: url(fonts/zekton-rg.ttf);
}
/*this imports .ttf font as separate file*/
/*@font-face {
  font-family: 'zekton';
  src: url(fonts/zekton-rg.ttf);
}*/
/*-----------------------------------------------------------------*/
html, body { 
	height: 100%; 
	background-color: black;
}
div {
	display: block;
}
input:focus {
    outline:none;
}
button:focus {
	outline:none;
	background-color: black;
	color: white;
	border: 0;

}
.trackname {
	width: 100%;
	padding: 0;
	border: 0;
	height: 20%;
	background-color: black;
	color: white;
	font-family: 'zekton';
	-webkit-transition: background-color 1s; 
    transition: background-color 1s;
    -webkit-transition: color 1s;  
    transition: color 1s;
}
/*----------------------------------------------------------------------*/
/*contains centered box*/
#center {
	position: fixed;
	
	/*centers text in middle of page*/
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);

	text-align: center;
	font-size: 50px;
  	text-decoration: none;

	/*adds outline to font*//*
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: white;*/
}
/*----------------------------------------------------------------------*/